@font-face {
    font-family: 'Karla';
    src: url(../fonts/Karla-Regular.ttf);
}
body{
    background-color: #CCCCCC;
    font-family: 'Karla';
    color: black;
}
.header{
    position: fixed;
    top: 0;
    padding: 30px 50px;
    z-index: 1070;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.menu-left{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 100% */
    letter-spacing: -0.2px;
}
.menu-left a{
    color: black;
    text-decoration: none;
}
.menu-left a:hover{
    color: #3B99C1;
    text-decoration: none;
}
.menu-right{
    display: flex;
    flex-direction: row;
    gap: 64px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.243px;
    text-align: center;
}
.menu-right .menu-link{
    color: black;
    transition: 0.3s;
}
.menu-right .menu-link.active{
    color: #3B99C1;
    transition: 0.3s;
}
.menu-right .menu-link:hover{
    color: #3B99C1;
    text-decoration: none;

}
.content{
    margin-top: 100px;
    padding: 50px;
}
.content .banner{
    
    width: 100%;
    min-height: 400px;
    background-image: url('../images/home.png');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 692px 499.877px;
}
.banner .banner-image{
    position: absolute;
    right: 0;
}
.banner .banner-image img{
    width: 692px;
    height: 499.877px;
}
.banner-content{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
}
.banner-content img{
    width: 751.131px;
    height: 556.415px;
}