<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/custom.css">
    <style>
        .paging{
            display: flex;
            flex-direction: row;
            gap: 5px;
        }
        .button-pagging{
            background-color: transparent;
            border: 2px solid black;
            color: black;
        }
        .button-pagging.active{
            background-color: #0D739F;
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="menu-left"><a href="../materisimbol.html"><&nbsp;&nbsp;&nbsp;&nbsp;Kembali</a></div>
        <div class="menu-right">
            <a href="../index.html" class="menu-link">Home</a>
            <a href="../learn.html" class="menu-link active">Learn</a>
            <a href="../simulasihome.html" class="menu-link">Simulation</a>
            <a href="../dodont.html" class="menu-link">Do & Don't</a>
        </div>
    </div>
    <div class="content">
        <!-- didieu tinggal tambahan div row jeung col na 12 kabeh jang nu learn, simulation, do and don't -->
        <div class="row">
            <div class="col-md-12 mb-5" style="color: #000;font-family: Karla;font-size: 48px;font-style: normal;font-weight: 500;line-height: normal;">
                <span>Kuis Materi Umum Use Case Diagram</span>
            </div>
            <div class="col-md-12" style="color: #000;font-family: Karla;font-size: 40px;font-style: normal;font-weight: 500;line-height: normal;margin-bottom: 50px;">
                <span>Grade 8.00 out of 10.00</span>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <span style="font-size: 24px;font-style: normal;font-weight: 700;line-height: normal;">Question 1</span>
                    </div>
                    <div class="col-md-12">
                        <span style="font-size: 24px;font-style: normal;font-weight: 400;">Marked out of 100</span>
                    </div>
                </div>
            </div>
            <div class="col-md-9" style="margin-bottom: 20px;">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <div class="card" style="padding: 36px 40px;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12" style="margin-bottom: 30px;">
                                        <div class="card">
                                            <div class="card-body" style="background-color: rgba(238, 238, 238, 0.93);border-radius: 5px;">
                                                <center style="margin-bottom: 29px;">
                                                    <img src="../../images/kuis2/q1.png" style="width: 327.805px;" />
                                                </center>
                                                <span style="font-size: 24px;font-style: normal;font-weight: 400;line-height: normal;"> Apakah relasi atau penghubung antara aktor dan relasi tersebut benar?</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="margin-bottom: 30px;">
                                        <div class="col-md-12">
                                            <span style="font-size: 24px;font-style: normal;font-weight: 400;">Select One</span> 
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-check">
                                                <input class="form-check-input" style="margin-top: 0.8rem;" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                                <label class="form-check-label" for="exampleRadios1" style="font-size: 24px;font-style: normal;font-weight: 400;">
                                                    True <svg xmlns="http://www.w3.org/2000/svg" width="17" height="15" viewBox="0 0 17 15" fill="none">
                                                        <path d="M6.50962 13.9416C6.34734 14.1173 6.12594 14.2154 5.89596 14.2154C5.66598 14.2154 5.44458 14.1173 5.2823 13.9416L0.381451 8.66296C-0.12715 8.11525 -0.12715 7.22709 0.381451 6.68041L0.99511 6.01938C1.50387 5.47167 2.32765 5.47167 2.83625 6.01938L5.08703 8.44339C5.52377 8.91373 6.26816 8.91374 6.7049 8.4434L14.1638 0.410786C14.6725 -0.136929 15.4971 -0.136929 16.0049 0.410786L16.6185 1.07181C17.1272 1.61952 17.1272 2.50751 16.6185 3.05436L6.50962 13.9416Z" fill="#34C34B"/>
                                                        </svg>
                                                </label>
                                              </div>
                                              <div class="form-check">
                                                <input class="form-check-input" style="margin-top: 0.8rem;" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                                <label class="form-check-label" for="exampleRadios2" style="font-size: 24px;font-style: normal;font-weight: 400;">
                                                  False
                                                </label>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 10px;">
                        <div class="card" style="background-color: #0D739F;">
                            <div class="card-body" style="color: white">
                                <span style="font-size: 24px;font-style: normal;font-weight: 400;line-height: normal;">Jawaban yang benar adalah : “True”</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <span style="font-size: 24px;font-style: normal;font-weight: 700;line-height: normal;">Question 2</span>
                    </div>
                    <div class="col-md-12">
                        <span style="font-size: 24px;font-style: normal;font-weight: 400;">Marked out of 100</span>
                    </div>
                </div>
            </div>
            <div class="col-md-9" style="margin-bottom: 20px;">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <div class="card" style="padding: 36px 40px;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12" style="margin-bottom: 30px;">
                                        <div class="card">
                                            <div class="card-body" style="background-color: rgba(238, 238, 238, 0.93);border-radius: 5px;">
                                                <center style="margin-bottom: 29px;">
                                                    <img src="../../images/kuis2/q2.png" style="width: 327.805px;" />
                                                </center>
                                                <span style="font-size: 24px;font-style: normal;font-weight: 400;line-height: normal;"> Apakah relasi atau penghubung antara aktor dan relasi tersebut benar?</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="margin-bottom: 30px;">
                                        <div class="col-md-12">
                                            <span style="font-size: 24px;font-style: normal;font-weight: 400;">Select One</span> 
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-check">
                                                <input class="form-check-input" style="margin-top: 0.8rem;" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                                                <label class="form-check-label" for="exampleRadios1" style="font-size: 24px;font-style: normal;font-weight: 400;">
                                                    True
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" style="margin-top: 0.8rem;" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked>
                                                <label class="form-check-label" for="exampleRadios2" style="font-size: 24px;font-style: normal;font-weight: 400;">
                                                False <svg xmlns="http://www.w3.org/2000/svg" width="17" height="15" viewBox="0 0 17 15" fill="none">
                                                    <path d="M6.50962 13.9416C6.34734 14.1173 6.12594 14.2154 5.89596 14.2154C5.66598 14.2154 5.44458 14.1173 5.2823 13.9416L0.381451 8.66296C-0.12715 8.11525 -0.12715 7.22709 0.381451 6.68041L0.99511 6.01938C1.50387 5.47167 2.32765 5.47167 2.83625 6.01938L5.08703 8.44339C5.52377 8.91373 6.26816 8.91374 6.7049 8.4434L14.1638 0.410786C14.6725 -0.136929 15.4971 -0.136929 16.0049 0.410786L16.6185 1.07181C17.1272 1.61952 17.1272 2.50751 16.6185 3.05436L6.50962 13.9416Z" fill="#34C34B"/>
                                                    </svg>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 10px;">
                        <div class="card" style="background-color: #0D739F;">
                            <div class="card-body" style="color: white">
                                <span style="font-size: 24px;font-style: normal;font-weight: 400;line-height: normal;">Jawaban yang benar adalah : "False"</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <span style="font-size: 24px;font-style: normal;font-weight: 700;line-height: normal;">Question 3</span>
                    </div>
                    <div class="col-md-12">
                        <span style="font-size: 24px;font-style: normal;font-weight: 400;">Marked out of 100</span>
                    </div>
                </div>
            </div>
            <div class="col-md-9" style="margin-bottom: 20px;">
                <div class="row">
                    <div class="col-md-12 mb-4">

                        <div class="card" style="padding: 36px 40px;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12" style="margin-bottom: 30px;">
                                        <div class="card">
                                            <div class="card-body" style="background-color: rgba(238, 238, 238, 0.93);border-radius: 5px;">
                                                <span style="font-size: 24px;font-style: normal;font-weight: 400;line-height: normal;"> Asosiasi antara aktor dengan use case yang menggunakan panah terbuka untuk mengindikasikan bila aktor berinteraksi secara pasif dengan sistem. Penjelasan tersebut merupakan definisi dari relasi apa?</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="margin-bottom: 30px;">
                                        <div class="col-md-12">
                                            <span style="font-size: 24px;font-style: normal;font-weight: 400;">Select One</span> 
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-check">
                                                <input class="form-check-input" style="margin-top: 0.8rem;" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                                <label class="form-check-label" for="exampleRadios1" style="font-size: 24px;font-style: normal;font-weight: 400;">
                                                    Include
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" style="margin-top: 0.8rem;" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                                <label class="form-check-label" for="exampleRadios2" style="font-size: 24px;font-style: normal;font-weight: 400;">
                                                    Exclude
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" style="margin-top: 0.8rem;" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                                                <label class="form-check-label" for="exampleRadios1" style="font-size: 24px;font-style: normal;font-weight: 400;">
                                                    Association
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" style="margin-top: 0.8rem;" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                                <label class="form-check-label" for="exampleRadios2" style="font-size: 24px;font-style: normal;font-weight: 400;">
                                                    Generalisasi
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 10px;">
                        <div class="card" style="background-color: #0D739F;">
                            <div class="card-body" style="color: white">
                                <span style="font-size: 24px;font-style: normal;font-weight: 400;line-height: normal;">Jawaban yang benar adalah : “Association”</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <span style="font-size: 24px;font-style: normal;font-weight: 700;line-height: normal;">Question 4</span>
                    </div>
                    <div class="col-md-12">
                        <span style="font-size: 24px;font-style: normal;font-weight: 400;">Marked out of 100</span>
                    </div>
                </div>
            </div>
            <div class="col-md-9" style="margin-bottom: 20px;">
                <div class="row">
                    <div class="col-md-12 mb-4">

                        <div class="card" style="padding: 36px 40px;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12" style="margin-bottom: 30px;">
                                        <div class="card">
                                            <div class="card-body" style="background-color: rgba(238, 238, 238, 0.93);border-radius: 5px;">
                                                <center style="margin-bottom: 29px;">
                                                    <img src="../../images/kuis2/q4.png" style="width: 327.805px;" />
                                                </center>
                                                <span style="font-size: 24px;font-style: normal;font-weight: 400;line-height: normal;"> Relasi apakah yang harus digunakan untuk menyambungkan kedua use case diatas, yang dimana use case yang ditambahkan memerlukan use case ini untuk menjalankan fungsinya?</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="margin-bottom: 30px;">
                                        <div class="col-md-12">
                                            <span style="font-size: 24px;font-style: normal;font-weight: 400;">Select One</span> 
                                        </div>
                                        
                                        <div class="col-md-12">
                                            <div class="form-check">
                                                <input class="form-check-input" style="margin-top: 0.8rem;" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                                <label class="form-check-label" for="exampleRadios1" style="font-size: 24px;font-style: normal;font-weight: 400;">
                                                    <div class="imageopt">
                                                        <img src="../../images/kuis2/opt1.png" style="width: 148px;" /> 
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="15" viewBox="0 0 17 15" fill="none">
                                                            <path d="M6.50962 13.9416C6.34734 14.1173 6.12594 14.2154 5.89596 14.2154C5.66598 14.2154 5.44458 14.1173 5.2823 13.9416L0.381451 8.66296C-0.12715 8.11525 -0.12715 7.22709 0.381451 6.68041L0.99511 6.01938C1.50387 5.47167 2.32765 5.47167 2.83625 6.01938L5.08703 8.44339C5.52377 8.91373 6.26816 8.91374 6.7049 8.4434L14.1638 0.410786C14.6725 -0.136929 15.4971 -0.136929 16.0049 0.410786L16.6185 1.07181C17.1272 1.61952 17.1272 2.50751 16.6185 3.05436L6.50962 13.9416Z" fill="#34C34B"/>
                                                            </svg>
                                                    </div>
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" style="margin-top: 0.8rem;" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                                <label class="form-check-label" for="exampleRadios2" style="font-size: 24px;font-style: normal;font-weight: 400;">
                                                    <div class="imageopt">
                                                        <img src="../../images/kuis2/opt2.png" style="width: 148px;" />
                                                    </div>
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" style="margin-top: 0.8rem;" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                                                <label class="form-check-label" for="exampleRadios1" style="font-size: 24px;font-style: normal;font-weight: 400;">
                                                    <div class="imageopt">
                                                        <img src="../../images/kuis2/opt3.png" style="width: 148px;" />
                                                    </div>
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" style="margin-top: 0.8rem;" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                                <label class="form-check-label" for="exampleRadios2" style="font-size: 24px;font-style: normal;font-weight: 400;">
                                                    <div class="imageopt">
                                                        <img src="../../images/kuis2/opt4.png" style="width: 148px;" />
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 10px;">
                        <div class="card" style="background-color: #0D739F;">
                            <div class="card-body" style="color: white">
                                <span style="font-size: 24px;font-style: normal;font-weight: 400;line-height: normal;">Jawaban yang benar adalah : “Include”</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <span style="font-size: 24px;font-style: normal;font-weight: 700;line-height: normal;">Question 5</span>
                    </div>
                    <div class="col-md-12">
                        <span style="font-size: 24px;font-style: normal;font-weight: 400;">Marked out of 100</span>
                    </div>
                </div>
            </div>
            <div class="col-md-9" style="margin-bottom: 20px;">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <div class="card" style="padding: 36px 40px;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12" style="margin-bottom: 30px;">
                                        <div class="card">
                                            <div class="card-body" style="background-color: rgba(238, 238, 238, 0.93);border-radius: 5px;">
                                                <center style="margin-bottom: 29px;">
                                                    <img src="../../images/kuis2/q4.png" style="width: 327.805px;" />
                                                </center>
                                                <span style="font-size: 24px;font-style: normal;font-weight: 400;line-height: normal;"> Relasi apakah yang harus digunakan untuk menyambungkan kedua use case diatas, yang dimana relasi use case tambahan ke sebuah use case dimana use case yang ditambahkan dapat berdiri sendiri walau tanpa use case tambahan itu?</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="margin-bottom: 30px;">
                                        <div class="col-md-12">
                                            <span style="font-size: 24px;font-style: normal;font-weight: 400;">Select One</span> 
                                        </div>
                                        
                                        <div class="col-md-12">
                                            <div class="form-check">
                                                <input class="form-check-input" style="margin-top: 0.8rem;" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                                                <label class="form-check-label" for="exampleRadios1" style="font-size: 24px;font-style: normal;font-weight: 400;">
                                                    <div class="imageopt">
                                                        <img src="../../images/kuis2/opt1.png" style="width: 148px;" />
                                                    </div>
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" style="margin-top: 0.8rem;" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked>
                                                <label class="form-check-label" for="exampleRadios2" style="font-size: 24px;font-style: normal;font-weight: 400;">
                                                    <div class="imageopt">
                                                        <img src="../../images/kuis2/opt2.png" style="width: 148px;" />
                                                    </div>
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" style="margin-top: 0.8rem;" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                                                <label class="form-check-label" for="exampleRadios1" style="font-size: 24px;font-style: normal;font-weight: 400;">
                                                    <div class="imageopt">
                                                        <img src="../../images/kuis2/opt3.png" style="width: 148px;" />
                                                    </div>
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" style="margin-top: 0.8rem;" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                                <label class="form-check-label" for="exampleRadios2" style="font-size: 24px;font-style: normal;font-weight: 400;">
                                                    <div class="imageopt">
                                                        <img src="../../images/kuis2/opt4.png" style="width: 148px;" />
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 10px;">
                        <div class="card" style="background-color: #0D739F;">
                            <div class="card-body" style="color: white">
                                <span style="font-size: 24px;font-style: normal;font-weight: 400;line-height: normal;">Jawaban yang benar adalah : “Extend”</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6" style="margin-bottom: 10px;">
                        <a href="./question1.html">
                            <button class="btn btn-lg" style="border-radius: 28.452px;
                            background: #0D739F;
                            box-shadow: 0px 3.2517px 16.2585px 0px rgba(12, 47, 90, 0.10);color: white">
                                Mengulang Quiz
                            </button>
                        </a>
                    </div>
                    <div class="col-md-6" style="margin-bottom: 10px; text-align: right;">
                        <a href="../materisimbol.html">
                            <button class="btn btn-lg" style="border-radius: 28.452px;
                            background: #0D739F;
                            box-shadow: 0px 3.2517px 16.2585px 0px rgba(12, 47, 90, 0.10);color: white">
                                Kembali Ke Materi
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>