<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/custom.css">
</head>
<body>
    <div class="header">
        <div class="menu-left"></div>
        <div class="menu-right">
            <a href="./index.html" class="menu-link active">Home</a>
            <a href="./learn.html" class="menu-link ">Learn</a>
            <a href="./simulasihome.html" class="menu-link">Simulation</a>
            <a href="./dodont.html" class="menu-link">Do & Don't</a>
        </div>
    </div>
    <div class="content" style="margin-top: 200px;">
        <div class="banner">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12 mb-5">
                            <span style="font-size: 96px;font-style: normal;font-weight: 700;line-height: normal;">Ayo Belajar Use Case Diagram</span>
                        </div>
                        <div class="col-md-12 mb-5">
                            <span style="font-size: 24px;font-style: normal;font-weight: 400;line-height: normal;letter-spacing: -0.243px;">A UML use case diagram is the primary form of system/software 
                            requirements for a new software program underdeveloped.</span>
                        </div>
                        <div class="col-md-12">
                            <a href="./learn.html">
                                <button class="btn btn-lg" style="border-radius: 28.452px;
                                background: #0D739F;
                                box-shadow: 0px 3.2517px 16.2585px 0px rgba(12, 47, 90, 0.10);color: white" data-toggle="modal" data-target="#exampleModalCenter">
                                Learn Now</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    
                </div>
            </div>
            <!-- didieu tinggal tambahan div row jeung col na 12 kabeh jang nu home -->
        </div>
    </div>
</body>
</html>