<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/custom.css">
    <style>
        .card-uml{
            padding: 0 10%;
        }
        .footer{
            padding: 150px 120px 0px 120px;
        }
        .x-pos{
            position: absolute;
            top: 30px;
            right: 20px;
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="menu-left"><a href="./ayobelajar.html"><&nbsp;&nbsp;&nbsp;&nbsp;Kembali</a></div>
        <div class="menu-right">
            <a href="./index.html" class="menu-link">Home</a>
            <a href="./learn.html" class="menu-link active">Learn</a>
            <a href="./simulasihome.html" class="menu-link">Simulation</a>
            <a href="./dodont.html" class="menu-link">Do & Don't</a>
        </div>
    </div>
    <div class="content">
        <div style="background-color: rgba(217, 217, 217, 0.80);"></div>
        <div class="row">
            <div class="col-md-12 mb-5" style="color: #000;font-family: Karla;font-size: 48px;font-style: normal;font-weight: 500;line-height: normal;">
                <span>Materi Simbol Use Case Diagram</span>
            </div>
            <div class="col-md-12">
                <div class="card-uml">
                    <div class="card" style="padding: 100px">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4" style="align-self: center; text-align: center; margin-bottom: 80px;">
                                    <button style="background-color: transparent; border: none;" data-toggle="modal" data-target="#materi1"><img src="../images/materisimbol1.png" style="width: 150px;
                                    height: 150px;
                                    ">
                                    </button>
                                </div>
                                <div class="col-md-4" style="align-self: center; text-align: center; margin-bottom: 80px;">
                                    <button style="background-color: transparent; border: none;" data-toggle="modal" data-target="#materi2"><img src="../images/materisimbol2.png" style="width: 150px;
                                    height: 150px;
                                    ">
                                    </button>
                                </div>
                                <div class="col-md-4" style="align-self: center; text-align: center; margin-bottom: 80px;">
                                    <button style="background-color: transparent; border: none;" data-toggle="modal" data-target="#materi3"><img src="../images/materisimbol3.png" style="width: 150px;
                                    height: 150px;
                                    "></button>
                                </div>
                                <div class="col-md-4" style="align-self: center; text-align: center;">
                                    <button style="background-color: transparent; border: none;" data-toggle="modal" data-target="#materi4"><img src="../images/materisimbol4.png" style="width: 150px;
                                    height: 150px;
                                    "></button>
                                </div>
                                <div class="col-md-4" style="align-self: center; text-align: center;">
                                    <button style="background-color: transparent; border: none;" data-toggle="modal" data-target="#materi5"><img src="../images/materisimbol5.png" style="width: 150px;
                                    height: 150px;
                                    "></button>
                                </div>
                                <div class="col-md-4" style="align-self: center; text-align: center;">
                                    <button style="background-color: transparent; border: none;" data-toggle="modal" data-target="#materi6"><img src="../images/materisimbol6.png" style="width: 150px;
                                    height: 150px;
                                    "></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="custom-backdrop" id="customBackdrop">
        <div class="footer">
            <div class="row">
                <div class="col-md-6" style="align-self: center;">
                    <div class="row">
                        <div class="col-md-12">
                            <span style="color: #000;
                            font-size: 64px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;">Sudah tahu apa saja simbol-simbol Use Case Diagram?</span>
                        </div>
                        <div class="col-md-12 mb-4">
                            <span style="font-size: 24px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: -0.243px;">Ayo lakukan evaluasi kemampuan kamu mengenai materi yang baru saja kamu pelajari.  </span> 
                        </div>
                        <div class="col-md-12"><a href="../views/kuis2/question1.html">
                            <div class="btn btn-lg" style="border-radius: 28.452px;
                            background: #0D739F;
                            box-shadow: 0px 3.2517px 16.2585px 0px rgba(12, 47, 90, 0.10);color: white">
                            Let's Quiz</div> </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="text-align: right;">
                    <img src="../images/footer.png" style="width: 348px;
                    height: 579px;">
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="materi1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body" style="padding: 100px;" style="padding: 100px;">
              <div class="row">
                <div class="col-md-12 mb-3" style="text-align: center;">
                    <img src="../images/materisimbol1.png" alt="" style="width: 150px;
                    height: 150px;">
                </div>
                <div class="col-md-12 mb-3" style="text-align: center;">
                    <span style="font-size: 36px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;">Actor </span>
                </div>
                <div class="col-md-12 mb-3" style="text-align: center;">
                    <span style="font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;">Actor atau Aktor adalah Abstraction dari orang atau sistem yang lain yang mengaktifkan fungsi dari target sistem. Orang atau sistem bisa muncul dalam beberapa peran. Perlu dicatat bahwa aktor berinteraksi dengan Use Case, tetapi tidak memiliki kontrol terhadap use case </span>
                </div>
              </div>
              <div class="x-pos">
                <button style="background-color: transparent; border: none;color: black;" data-dismiss="modal" aria-label="Close">X</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="materi2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body" style="padding: 100px;">
                <div class="row">
                    <div class="col-md-12 mb-3" style="text-align: center;">
                        <img src="../images/materisimbol2.png" alt="" style="width: 150px;
                        height: 150px;">
                    </div>
                    <div class="col-md-12 mb-3" style="text-align: center;">
                        <span style="font-size: 36px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;">Use Case </span>
                    </div>
                    <div class="col-md-12 mb-3" style="text-align: center;">
                        <span style="font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;">Use Case menggambarkan fungsionalitas yang disediakan sistem sebagai unit-unit yang bertukar pesan antar unit dengan aktor, yang dinyatakan dengan menggunakan kata kerja </span>
                    </div>
                  </div>
                  <div class="x-pos">
                    <button style="background-color: transparent; border: none;color: black;" data-dismiss="modal" aria-label="Close">X</button>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="materi3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body" style="padding: 100px;">
                <div class="row">
                    <div class="col-md-12 mb-3" style="text-align: center;">
                        <img src="../images/materisimbol3.png" alt="" style="width: 150px;
                        height: 150px;">
                    </div>
                    <div class="col-md-12 mb-3" style="text-align: center;">
                        <span style="font-size: 36px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;">Generalization </span>
                    </div>
                    <div class="col-md-12 mb-3" style="text-align: center;">
                        <span style="font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;">Generalization antara aktor dengan use case yang menggunakan panah terbuka untuk mengindikasikan bila aktor berinteraksi secara pasif dengan sistem </span>
                    </div>
                  </div>
                  <div class="x-pos">
                    <button style="background-color: transparent; border: none;color: black;" data-dismiss="modal" aria-label="Close">X</button>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="materi4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body" style="padding: 100px;">
                <div class="row">
                    <div class="col-md-12 mb-3" style="text-align: center;">
                        <img src="../images/materisimbol4.png" alt="" style="width: 150px;
                        height: 150px;">
                    </div>
                    <div class="col-md-12 mb-3" style="text-align: center;">
                        <span style="font-size: 36px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;">Asosiasi </span>
                    </div>
                    <div class="col-md-12 mb-3" style="text-align: center;">
                        <span style="font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;">Asosiasi antara aktor dan use case, digambarkan dengan garis tanpa panah yang mengindikasikan siapa atau apa yang meminta interaksi secara langsung dan bukannya mengindikasikan data </span>
                    </div>
                </div>
                <div class="x-pos">
                    <button style="background-color: transparent; border: none;color: black;" data-dismiss="modal" aria-label="Close">X</button>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="materi5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body" style="padding: 100px;">
                <div class="row">
                    <div class="col-md-12 mb-3" style="text-align: center;">
                        <img src="../images/materisimbol5.png" alt="" style="width: 150px;
                        height: 150px;">
                    </div>
                    <div class="col-md-12 mb-3" style="text-align: center;">
                        <span style="font-size: 36px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;">Include </span>
                    </div>
                    <div class="col-md-12 mb-3" style="text-align: center;">
                        <span style="font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;">Include, merupakan di dalam use case lain (required) atau pemanggilan use case oleh use case contohnya adalah pemanggilan sebuah fungsi program </span>
                    </div>
                </div>
                <div class="x-pos">
                    <button style="background-color: transparent; border: none;color: black;" data-dismiss="modal" aria-label="Close">X</button>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="materi6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body" style="padding: 100px;">
                <div class="row">
                    <div class="col-md-12 mb-3" style="text-align: center;">
                        <img src="../images/materisimbol6.png" alt="" style="width: 150px;
                        height: 150px;">
                    </div>
                    <div class="col-md-12 mb-3" style="text-align: center;">
                        <span style="font-size: 36px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;">Extend </span>
                    </div>
                    <div class="col-md-12 mb-3" style="text-align: center;">
                        <span style="font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;">Extend, merupakan perluasan dari use case lain jika kondisi atau syarat terpenuhi </span>
                    </div>
                </div>
                <div class="x-pos">
                    <button style="background-color: transparent; border: none;color: black;" data-dismiss="modal" aria-label="Close">X</button>
                </div>
            </div>
          </div>
        </div>
    </div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</html>