<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/custom.css">
    <style>
        .image-cover{
            margin-top: 100px;
            background-image: url('../images/cover.png');
            display: flex;
            justify-content: center;
            align-items: center;
            height: 362px;
            color: #FFF;
            font-size: 48px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        .content{
            padding: 100px 100px 100px 100px;
            background-color: white;
            margin-top: 0;
        }
        .content p{
            color: #000;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        .content ul li{
            color: #000;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        .footer{
            background-color: #EEE;
            padding: 150px 120px 0px 120px;
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="menu-left"><a href="./ayobelajar.html"><&nbsp;&nbsp;&nbsp;&nbsp;Kembali</a></div>
        <div class="menu-right">
            <a href="./index.html" class="menu-link">Home</a>
            <a href="./learn.html" class="menu-link active">Learn</a>
            <a href="./simulasihome.html" class="menu-link">Simulation</a>
            <a href="./dodont.html" class="menu-link">Do & Don't</a>
        </div>
    </div>
    <div class="image-cover">
        Apa itu Use Case Diagram
    </div>
    <div class="content">
        <p>
            Use case diagram adalah gambar yang menjelaskan bagaimana pengguna akan memakai suatu sistem atau program komputer, dengan menggunakan simbol-simbol tertentu untuk memperjelas alurnya.
        </p>

        <p>
            Jika Anda ingin mengembangkan website dengan baik, mempelajari diagram use case adalah kewajiban. Karena, diagram ini memungkinkan semua pihak yang terlibat untuk merancang sistem yang tepat sasaran, menghindari kesalahpahaman, serta mengoordinasikan pekerjaan secara efektif.
        </p>
        <p>
            Tenang, kami akan membantu menjelaskannya. Setelah membaca artikel ini, Anda akan memahami pengertian use case diagram, komponen dan simbol yang digunakan, tahapan membuat use case diagram, serta contoh-contohnya.
        </p>
        <p>
            Sudah Paham Apa itu Use Case Diagram, kan?
            Pengertian Use Case Diagram
            Use case diagram adalah jenis diagram UML (Unified Modeling Language) yang menggambarkan fungsi, ruang lingkup, dan interaksi pengguna dengan sistem tersebut.
        </p>
        
        <p>
            Diagram use case memvisualisasikan interaksi antara pengguna (aktor) dan sistem (use case), serta tindakan apa saja yang dapat dilakukan aktor terhadap use case secara rinci.
</p>
<p>
            apa itu use case diagram adalah
            Contohnya dalam proses pengembangan website, aplikasi mobile, atau sistem lainnya, use case diagram memiliki peranan penting. Sebab, diagram ini mampu mengidentifikasi kebutuhan pengguna, memperjelas persyaratan sistem, dan merancang fungsionalitas website.
        </p>
        <p>
            Dengan adanya use case diagram, komunikasi antar tim web developer, project manager, dan stakeholder lain dapat difasilitasi dengan baik. Sehingga, langkah-langkah pengembangan berikutnya, seperti coding, testing, dan launching website ke web hosting dapat berjalan lancar.
        </p>
<p>
            Jadi, penggunaan use case diagram bisa membantu merencanakan fungsionalitas website, serta memastikan bahwa pengembangan website berjalan sesuai dengan kebutuhan pengguna dan stakeholder yang terlibat.
        </p>
        <p>
            Fungsi Use Case Diagram
            Dalam pengembangan website, fungsi use case diagram adalah sebagai berikut:
        </p>
        <p>
            <ul>
                <li>
                    Merincikan Kebutuhan Pengguna – Use case diagram dapat menjelaskan kebutuhan pengguna terhadap website dari sudut pandang calon pengguna itu sendiri. Dengan begitu, web developer dapat mengembangkan website yang relevan dan bernilai bagi mereka yang akan menggunakan website.
                </li>
                <li>
                    Memodelkan Interaksi Pengguna – Use case diagram berfungsi untuk memvisualkan alur interaksi pengguna yang intuitif dan logis. Hal tersebut dapat meningkatkan user experience (UX) pengguna, mengingat user experience adalah salah satu faktor penentu keberhasilan website..
                </li>
                <li>

                    Memperlihatkan Fungsionalitas Website – Fungsi use case diagram berikutnya yaitu untuk menampilkan setiap fungsi website secara lebih mendetail. Sehingga, developer dapat lebih mudah memprogram website.
                </li>
                <li>

                    Memfasilitasi Komunikasi dengan Stakeholder – Use case diagram adalah alat komunikasi yang efektif antar tim developer dan stakeholder lain. Dengan diagram use case, semua pihak yang terlibat dapat memahami bagaimana website berfungsi dan saling berkoordinasi dalam membangun website.
                </li>
                <li>

                    Memvalidasi Pengujian Website – Fungsi use case diagram yang terakhir yaitu memastikan bahwa semua fitur website telah diuji dan berjalan dengan baik. Masing-masing use case dalam diagram ini dapat digunakan sebagai acuan dalam menguji website secara sistematis.
                </li>
            </ul>
        </p>
        <!-- didieu tinggal tambahan div row jeung col na 12 kabeh jang nu learn, simulation, do and don't -->
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-md-6" style="align-self: center;">
                <div class="row">
                    <div class="col-md-12">
                        <span style="color: #000;
                        font-size: 64px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;">Sudah tahu apa itu <br/> Use Case Diagram?</span>
                    </div>
                    <div class="col-md-12 mb-4">
                        <span style="font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: -0.243px;">Ayo lakukan evaluasi kemampuan kamu mengenai materi yang baru saja kamu pelajari.  </span> 
                    </div>
                    <div class="col-md-12">
                        <a href="../views/kuis/question1.html">
                            <button class="btn btn-lg" style="border-radius: 28.452px;
                            background: #0D739F;
                            box-shadow: 0px 3.2517px 16.2585px 0px rgba(12, 47, 90, 0.10);color: white">
                            Let's Quiz</button> 
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="text-align: right;">
                <img src="../images/footer.png" style="width: 348px;
                height: 579px;">
            </div>
        </div>
    </div>
</body>
</html>